
.Home_bannerMini{
  margin-top: 30px;
  & h1 {
    font-size: 30px;
    font-weight: 600;
  }
  & img {
    width: 100%;
  }
}

.Home_storeSystem {
  margin-top: 30px;
  & h1 {
    font-size: 30px;
    font-weight: 600;
  }
  & img {
    width: 100%;
  
  }
}

